@model IEnumerable<Web_Inventario.Models.OrdenCompra>

@{
    ViewData["Title"] = "Órdenes de Compra";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Orden</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Proveedor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fecha.ToShortDateString()</td>
                <td>@item.Proveedor?.Nombre</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrdenCompraId" class="btn btn-warning btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.OrdenCompraId" class="btn btn-info btn-sm">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrdenCompraId" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
